body nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

body nav a p {
  margin: 0 0 0 16px;
}

body section p {
  margin: 16px 0 0 0;
}

body section.mensagem {
  width: 80%;
  display: flex;
  justify-content: center;
}

body section p.mensagem {
  font-size: 1.5rem;
  padding-top: 16px;
}

body section.conteudo {
  width: 100%;
  display: flex;
  flex-direction: row;
}

body section.menu {
  width: 230px;
  height: 100vh;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
}

body section.menu a {
  color: black;
}

body section.menu a:hover {
  color: #001c65;
}

body section.menu a:first-child {
  margin-top: 24px;
}

body section.formulario {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section.formulario p {
  font-size: 1.25rem;
  margin: 24px 0 6px px 0;
}

body section.formulario .mb-3 {
  margin-bottom: 0.3rem !important;
}

form.cadastrar-cliente {
  width: 100%;
  margin-top: 16px;
}

form .cadastrar-cliente {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form label {
  margin-top: 8px;
}

form input,
form select {
  font-size: 1rem !important;
  height: 3rem;
  border-radius: 8px !important;
}

form .submit {
  text-align: center;
}

form .submitBt {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  height: 3.2rem;
  width: 10rem;
  color: #fff;
  background-color: #001c65;
  border: none;
  border-radius: 8px;
  margin: 2rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form .submitBt:hover {
  background-color: #003983;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

section.formulario h4 {
  text-align: center;
  margin-top: 24px !important;
  margin-bottom: 0 !important;
}

section.formulario h5 {
  color: rgb(49, 163, 87);
  text-align: center;
  margin-top: 32px !important;
}

section.formulario p.error {
  color: #dd050c;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 32px !important;
}
